h1 {
    color:#FF33FF;
    font-family:calibri;
    font-size: 200%;
    }
    h2 {
    color:#FF33FF;
    font-family:calibri;
    font-size: 170%;
    }
    h3 {
        color:#FF33FF;
        font-family:calibri;
        font-size: 120%;
        font-style: italic;
        }